<div class="flex-grow panel height-100p" id="tablet-ui">
  <div>
    <div class="flex-row">
      <button class="small flex-button" id="tu-save-quit">save & quit</button>
      <button class="small flex-button" id="tu-edit-mode">edit fast skills</button>
    </div>
  </div>
  <h6>actions / keyboard</h6>
  <div>
    <div class="flex-row">
      <button class="flex-button" id="tu_select_az">a-z</button>
      <button class="flex-button" id="tu_select_special">specials</button>
      <button class="flex-button" id="tu_select_actions">actions</button>
    </div>
  </div>
  <div id="tu-mode-keyboard">
    <div class="flex-row">
      <button class="flex-button" id="tu-key-a">a</button>
      <button class="flex-button" id="tu-key-b">b</button>
      <button class="flex-button" id="tu-key-c">c</button>
      <button class="flex-button" id="tu-key-d">d</button>
      <button class="flex-button" id="tu-key-e">e</button>
      <button class="num flex-button" id="tu-key-1">1</button>
      <button class="num flex-button" id="tu-key-6">6</button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu-key-f">f</button>
      <button class="flex-button" id="tu-key-g">g</button>
      <button class="flex-button" id="tu-key-h">h</button>
      <button class="flex-button" id="tu-key-i">i</button>
      <button class="flex-button" id="tu-key-j">j</button>
      <button class="num flex-button" id="tu-key-2">2</button>
      <button class="num flex-button" id="tu-key-7">7</button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu-key-k">k</button>
      <button class="flex-button" id="tu-key-l">l</button>
      <button class="flex-button" id="tu-key-m">m</button>
      <button class="flex-button" id="tu-key-n">n</button>
      <button class="flex-button" id="tu-key-o">o</button>
      <button class="num flex-button" id="tu-key-3">3</button>
      <button class="num flex-button" id="tu-key-8">8</button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu-key-p">p</button>
      <button class="flex-button" id="tu-key-q">q</button>
      <button class="flex-button" id="tu-key-r">r</button>
      <button class="flex-button" id="tu-key-s">s</button>
      <button class="flex-button" id="tu-key-t">t</button>
      <button class="num flex-button" id="tu-key-4">4</button>
      <button class="num flex-button" id="tu-key-9">9</button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu-key-u">u</button>
      <button class="flex-button" id="tu-key-v">v</button>
      <button class="flex-button" id="tu-key-w">w</button>
      <button class="flex-button" id="tu-key-x">x</button>
      <button class="flex-button" id="tu-key-y">y</button>
      <button class="num flex-button" id="tu-key-5">5</button>
      <button class="num flex-button" id="tu-key-0">0</button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu-key-z">z</button>
      <button class="flex-button" id="tu_key_caps">CAPS</button>
      <button class="invisible flex-button" id="">-</button>
      <button class="invisible flex-button" id="">-</button>
      <button class="invisible flex-button" id="">-</button>
      <button class="flex-button" id="tu_special_key_13"></button>
      <button class="flex-button" id="tu_special_key_14"></button>
    </div>
  </div>
  <div class="hidden" id="tu-mode-specials">
    <div class="flex-row">
      <button class="flex-button" id="tu_special_key_1"></button>
      <button class="flex-button" id="tu_special_key_2"></button>
      <button class="flex-button" id="tu_special_key_3"></button>
      <button class="flex-button" id="tu_special_key_4"></button>
      <button class="flex-button" id="tu_special_key_15"></button>
      <button class="flex-button" id="tu_special_key_16"></button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_special_key_7"></button>
      <button class="flex-button" id="tu_special_key_8"></button>
      <button class="flex-button" id="tu_special_key_9"></button>
      <button class="flex-button" id="tu_special_key_10"></button>
      <button class="flex-button" id="tu_special_key_11"></button>
      <button class="flex-button" id="tu_special_key_12"></button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_special_key_5"></button>
      <button class="flex-button" id="tu_special_key_6"></button>
      <button class="flex-button" id="tu_special_key_17"></button>
      <button class="flex-button" id="tu_special_key_18"></button>
      <button class="flex-button" id="tu_special_key_19"></button>
      <button class="flex-button" id="tu_special_key_20"></button>
    </div>
    <div class="flex-row">
      <button class="invisible flex-button">-</button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_special_key_21"></button>
      <button class="flex-button" id="tu_special_key_22"></button>
    </div>
    <div class="flex-row">
      <button class="invisible flex-button">-</button>
    </div>
  </div>
  <div class="hidden" id="tu-mode-actions">
    <div class="flex-row">
      <button class="flex-button" id="tu_quick_1"></button>
      <button class="flex-button" id="tu_quick_2"></button>
      <button class="flex-button" id="tu_quick_3"></button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_quick_4"></button>
      <button class="flex-button" id="tu_quick_5"></button>
      <button class="flex-button" id="tu_quick_6"></button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_quick_13"></button>
      <button class="flex-button" id="tu_quick_14"></button>
      <button class="flex-button" id="tu_quick_15"></button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_quick_10"></button>
      <button class="flex-button" id="tu_quick_11"></button>
      <button class="flex-button" id="tu_quick_12"></button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_quick_16"></button>
      <button class="flex-button" id="tu_quick_17"></button>
      <button class="flex-button" id="tu_quick_9"></button>
    </div>
    <div class="flex-row">
      <button class="flex-button" id="tu_quick_7"></button>
      <button class="flex-button" id="tu_quick_8"></button>
      <button class="flex-button" id="tu_quick_18"></button>
    </div>
  </div>
  <div>
    <div class="flex-row">
      <button class="flex-button" id="tu_key_esc">ESC</button>
      <button class="flex-button" id="tu_key_space">SPACE</button>
      <button class="flex-button" id="tu_key_enter">ENTER</button>
    </div>
  </div>
  <h6>fast skills / magic</h6>
  <div id="tu-skills">
    <div class="flex-row">
      <button class="fast flex-button" id="tu_sc_1"></button>
      <button class="fast flex-button" id="tu_sc_2"></button>
      <button class="fast flex-button" id="tu_sc_3"></button>
      <button class="fast flex-button" id="tu_sc_4"></button>
      <button class="fast flex-button" id="tu_sc_5"></button>
    </div>
    <div class="flex-row">
      <button class="fast flex-button" id="tu_sc_6"></button>
      <button class="fast flex-button" id="tu_sc_7"></button>
      <button class="fast flex-button" id="tu_sc_8"></button>
      <button class="fast flex-button" id="tu_sc_9"></button>
      <button class="fast flex-button" id="tu_sc_10"></button>
    </div>
    <div class="flex-row">
      <button class="fast flex-button" id="tu_sc_11"></button>
      <button class="fast flex-button" id="tu_sc_12"></button>
      <button class="fast flex-button" id="tu_sc_13"></button>
      <button class="fast flex-button" id="tu_sc_14"></button>
      <button class="fast flex-button" id="tu_sc_15"></button>
    </div>
  </div>
  <div class="flex-grow"></div>
  <div id="tu-arrows">
    <div class="flex-row">
      <button id="tu-arrows-7">7</button>
      <button id="tu-arrows-8">8</button>
      <button id="tu-arrows-9">9</button>
    </div>
    <div class="flex-row">
      <button id="tu-arrows-4">4</button>
      <button id="tu-arrows-5">5</button>
      <button id="tu-arrows-6">6</button>
    </div>
    <div class="flex-row">
      <button id="tu-arrows-1">1</button>
      <button id="tu-arrows-2">2</button>
      <button id="tu-arrows-3">3</button>
    </div>
  </div>
  <button id="tu_key_run">run</button>
</div>
