<section>
   <div class="title">LOGIN</div>
   <div class="content">
      <p>Welcome back, <%= user %></p>
      <p>
         <a class="btn" href="/play">Go play games</a>
      </p>
      <p>
         <a class="btn" href="/logout">Logout</a>
      </p>
   </div>
</section>
